*{
    margin: 0px;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    background: url(./images/sky.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    margin: 0px;
    padding: 0px;
}
#navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
#logo{
    width: 250px;
}
.navitem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(15, 2, 40);
    border-radius: 30px;
    margin-right: 100px;
    padding: 10px;
}
a{
    color: white;
    text-decoration: none;
}
.navitem h1{
    margin-right: 20px;
    margin-left: 20px;
}
.navitem h1:hover{
    background-color: rgb(27, 6, 66);
    padding: 10px;
    border-radius: 10px;
}

#parallax{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    background: url(./images/house.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
#leftbranch{
    position: absolute;
    width: 500px;
    margin-left: 250px;
    margin-top: -600px;
    transform: translateX(-282px);
}
#rope{
    position: absolute;
    width: 250px;
    margin-top: -400px;
    margin-left: 350px;
    transform: translateX(-282px);
}
#ghost{
    position: absolute;
    margin-left: 360px;
    margin-top: 3px;
    transform: translateX(-282px);
}
#moon{
    position: absolute;
    margin-left: 1100px;
    margin-top: -880px;
    transform: translateY(60px);
}
#rightbranch{
    position: absolute;
    margin-left: 1390px;
    margin-top: -500px;
    transform: translateX(305px);
}

#parallax1{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    background: url(./images/back.jpeg)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
#leftghost{
    position: absolute;
    top: 0;
    margin-left: 1000px;
    width: 500px;
    margin-left: 250px;
    margin-top: -10px;
    transform: translateX(-282px); 
    opacity: 50%;  
}
#rightghost{
    position: absolute;
    top: 0;
    margin-left: 1000px;
    width: 500px;
    margin-left: 400px;
    margin-top: -10px;
    transform: translateX(800px); 
    opacity: 50%;  
}
#gost{
    position: absolute;
    margin-top: 334px;
    margin-left: 1700px;
    width: 400px;
    transform: translate(-900px);
}
#halloween1 h1{
    position: absolute;
    color: rgb(252, 250, 250);
    text-align: center;
    margin-left: 600px;
    padding-top: 100px;
    text-shadow: 2px 4px 5px #fff;
    font-size: 50px;
    font-family: "Creepster", system-ui;
}
#halloween1 p{
    color: rgb(253, 249, 249);
    font-size: 25px;
    text-align: center;
    padding-top: 200px;
    line-height: 30px;
    font-family: "Creepster", system-ui;
    text-shadow: 2px 4px 5px #fff;
    padding-bottom: 50px;
}